$base-spacing:      8px !default;
$base-margin:       16px !default;
$base-font-size:    16px !default;
$base-line-height:  24px !default;
$sidbar-icon-size:  $base-line-height * 2;

$screen-sm-min:     768px;
$screen-md-min:     992px;
$screen-lg-min:     1200px;