.e-advert {
    margin-bottom: 5em;
    display: block;
    
    img {
        width: auto;
        max-width: 100%;
        display: block;
    }
    
    
    @media screen and (max-width: $screen-sm-min - 1) {
        &-edp,
        &-social {
            display: none;
        }
        &-logo img {
            margin: 0 auto;
        }
    }
    
    &-social {
        a {
            color: white;
            font-size: $sidbar-icon-size;
            
            &:hover {
                text-decoration: none;
            }
            
            span {
                display: none;
            }
        }
    }
}